<div class="layout-wrapper">
  <aside class="sidebar">
    <div class="logo">FRIGOSERVICOS</div>
    <p-panelMenu [model]="items" styleClass="menu-panel"></p-panelMenu>
  </aside>

  <main class="main-content">
    <header class="topbar">
      <span class="user-info">{{ rol | titlecase }}</span>
      <button 
        pButton 
        icon="pi pi-sign-out" 
        label="Cerrar sesión" 
        (click)="cerrarSesion()" 
        class="p-button-sm p-button-danger"
      ></button>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
