<div class="pedido-container">
  <h2 class="titulo">Pedido del cliente</h2>

  <form class="formulario">
    <div class="fila">
      <div class="campo">
        <label class="morado">Cédula cliente</label>
        <input type="text" value="1725263089" readonly />
      </div>
      <div class="campo">
        <label class="verde">ID pedido</label>
        <input type="text" value="0110" readonly />
      </div>
    </div>

    <div class="campo">
      <label class="morado">Empresa</label>
      <input type="text" value="Valle Sotomayor John Geovanny ???????" readonly />
    </div>

    <div class="campo">
      <label class="morado">Correo</label>
      <input type="email" value="uwu@gmail.com" readonly />
    </div>

    <div class="fila">
      <div class="campo">
        <label class="morado">Teléfono</label>
        <input type="text" value="0985475218" readonly />
      </div>
      <div class="campo">
        <label class="verde">Código postal</label>
        <input type="text" value="202564" readonly />
      </div>
    </div>

    <div class="campo">
      <label class="verde">Provincia</label>
      <input type="text" value="Pichincha" readonly />
    </div>

    <div class="campo">
      <label class="verde">Ciudad</label>
      <input type="text" value="Quito" readonly />
    </div>

    <div class="campo">
      <label class="verde">Calle principal</label>
      <input type="text" value="Av. Mariscal Sucre" readonly />
    </div>

    <div class="campo">
      <label class="verde">Calle secundaria</label>
      <input type="text" value="Juan valdez" readonly />
    </div>

    <div class="campo">
      <label class="verde">Detalles o Descripción</label>
      <textarea readonly>
Para entender la historia de Five Nights at Freddy’s hay que olvidarse que estos son juegos...
      </textarea>
    </div>
  </form>
</div>