<div class="form-wrapper">
  <div class="form-box">
    <img src="assets/logo-frigoservicios.png" class="logo" />
    <h2 class="title">📧 Recuperar Contraseña</h2>
    <p class="subtitle">Escribe tu correo para recibir un código</p>

    <form (ngSubmit)="enviarCodigo()" #form="ngForm">
      <label for="correo">Correo Electrónico</label>
      <input id="correo" name="correo" [(ngModel)]="correo" type="email" required />

      <button type="submit" class="btn-green">Enviar código</button>
    </form>
  </div>
</div>
