<div class="login-container">
  <div class="form-box">
    <h2>Iniciar sesión</h2>

    <form (ngSubmit)="login()">
      <label for="usuario">Correo</label>
      <input type="text" id="usuario" [(ngModel)]="usuario" name="usuario" required />

      <label for="clave">Contraseña</label>
      <input type="password" id="clave" [(ngModel)]="clave" name="clave" required />

      <button type="submit">Ingresar</button>
    </form>

    <div class="extra-links">
      <a (click)="irARegistro()">Registrarse</a> |
      <a (click)="irAOlvido()">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
</div>
